@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Site</title>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/js/client.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/client.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    
    @Html.ReactInitJavaScript()
</body>
</html>
